*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
    flex-direction: column;
}

.centerjustalign{
    justify-content: center;
    align-items: center;
}

button{
    background-color: #0084fd;
    border-radius: 25px;
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: none;
    text-align: center;
}

.text-centered{
    text-align: center;
}

h2{
    font-size: 2rem;
    margin: 2rem 0;
}

.color1{
    background-color: #b5ddff;
}

.color2{
    background-color: white;
}

.color3{
    background-color: #9792e4;
}

.text-purp{
    color: #9792e4;
}

.white{
    color: white;
}

.icon-color{
    color: #0084fd;
}

img{
    width: 100%;
}

.size1{
    font-size: 1rem;
}

.size2{
    font-size: 2rem;
}

.size3{
    font-size: 5rem;
}

p{
    line-height: 2rem;
}

.w-100{
    width: 100%;
}

.circle1{
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    background-image: url(./img/testimonial1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.circle2{
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    background-image: url(./img/testimonial2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.circle3{
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    background-image: url(./img/testimonial3.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.circle4{
    border-radius: 100%;
    height: 20rem;
    width: 20rem;
    background-image: url(./img/about.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin: 1rem 0;
}

.circle1, .circle2, .circle3{
    margin: 1rem 0;
}

.black{
    color: black;
}



/*************************
        HEADER 
**************************/
nav{
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    width: 100%;
    background-color: #0084fd;
    height: 100px;
    color: white;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/************************
        MAIN
*************************/
/* demo section */
.container{
    margin: 1rem;
}

.col{
    margin: 1rem 0;
    border-radius: 15px;
}

.card{
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 15px;
}

/* planning section */
.planning{
    margin-top: 3rem;
    width: 100%;
    background-color: #9792e4;
    text-align: center;
    padding: 1rem;
}

.number{
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #9792e4;
}

.card-benefit > p{
    color: #9792e4;
}

.card-benefit > h3{
    color: #9792e4;
}

.card-benefit > button{
    background-color: #9792e4;
    color: white;
}

/*************************
        FOOTER
**************************/
footer{
    height: 200px;
    width: 100%;
    background-color: darkgray;
    text-align: center;
    padding: 1rem;
}

/************************
        MEDIA QUERIES
*************************/
@media  screen and (min-width: 768px) {
    .flex{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .col-small{
        width: calc(100% / 3 - 1rem);
        margin: 0;
    }

    .col-big{
        width: calc(66.6% - 1rem);
    }

    .card-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .benefit-flex{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .card-benefit{
        width: calc(100% / 2 - 0.5rem);
    }

    .col-left{
        width: calc(65% - 0.5rem);
    }

    .col-right{
        width: calc(35% - 0.5rem);
    }
}

@media screen and (min-width: 1140px) {

    .container{
        margin-top: 3rem;
    }

    .boxed{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .card-benefit{
        width: calc(100% / 3 - 0.7rem);
    }

    .col-big .card{
        display: flex;
    }

    .planning .boxed{
        display: flex;
    }

    .marginright{
        margin-right: 1.5rem;
    }
}